<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <filter>
        <filter-name>NFilter</filter-name>
        <filter-class>NFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Ограничение1</display-name>
        <web-resource-collection>
            <web-resource-name>All(XHTML)</web-resource-name>
            <description/>
            <url-pattern>*.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            <role-name>Manager</role-name>
            <role-name>Assembly</role-name>
            <role-name>Fabrication</role-name>
            <role-name>Design</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>AddClient</web-resource-name>
            <description/>
            <url-pattern>/Manager/addClient.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>MegaReal</realm-name>
        <form-login-config>
            <form-login-page>/Authorization/Login.jsp</form-login-page>
            <form-error-page>/Authorization/Error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Manager</description>
        <role-name>Manager</role-name>
    </security-role>
    <security-role>
        <description>Admin</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Assembly</description>
        <role-name>Assembly</role-name>
    </security-role>
    <security-role>
        <description>Fabrication</description>
        <role-name>Fabrication</role-name>
    </security-role>
    <security-role>
        <description>Design</description>
        <role-name>Design</role-name>
    </security-role>
</web-app>
